<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create User</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 flex items-center justify-center min-h-screen">
  <div class="w-full max-w-md bg-zinc-800 p-8 rounded-2xl shadow-lg">
  <div class="nav">
    <a href="/read" class="text-blue-500 hover:underline mb-4 inline-block">View All Users</a>
  </div>
  <h1 class="text-3xl text-white font-semibold mb-6 text-center">Update User</h1>
  
  <form action="/update/<%= user._id %>" method="POST" class="flex flex-col gap-4">
    <input 
      type="text" 
      name="name" 
      placeholder="Enter your name" 
      class="w-full border border-zinc-700 text-white px-5 py-2 rounded-xl outline-none bg-transparent focus:border-blue-500"
      value="<%= user.name %>"
      required
    >
    
    <input 
      type="email" 
      name="email" 
      placeholder="Enter your email" 
      class="w-full border border-zinc-700 text-white px-5 py-2 rounded-xl outline-none bg-transparent focus:border-blue-500"
      value="<%= user.email %>"
      required
    >
    
    <input 
      type="text" 
      name="image" 
      placeholder="Enter image URL" 
      class="w-full border border-zinc-700 text-white px-5 py-2 rounded-xl outline-none bg-transparent focus:border-blue-500"
      value="<%= user.image %>"
    >
    
    <input 
      type="submit" 
      value="Update" 
      class="bg-yellow-600 text-white font-medium px-5 py-2 rounded-xl cursor-pointer hover:bg-blue-700 transition"
    >
  </form>
</div>

</body>
</html>
